@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* Definir las fuentes personalizadas */
@theme {
    --font-space-grotesk: var(--font-space-grotesk), sans-serif;
    --font-poppins: var(--font-poppins), sans-serif;
    --font-open-sans: var(--font-open-sans), sans-serif;
}

/* Aplicar fuente body por defecto */
@layer base {
    body {
        font-family: var(--font-open-sans);
    }
}

@layer utilities {
    .font-logo {
        font-family: var(--font-space-grotesk);
    }

    .font-heading {
        font-family: var(--font-poppins);
    }

    .font-body {
        font-family: var(--font-open-sans);
    }
}